<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>annotations</key>
	<array>
		<dict>
			<key>title</key>
			<string>Westminster</string>
			<key>loc</key>
			<dict>
				<key>lat</key>
				<string>51.496988</string>
				<key>lon</key>
				<string>-0.130514</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Waterloo</string>
			<key>loc</key>
			<dict>
				<key>lat</key>
				<string>51.500194</string>
				<key>lon</key>
				<string>-0.108885</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>City</string>
			<key>loc</key>
			<dict>
				<key>lat</key>
				<string>51.512589</string>
				<key>lon</key>
				<string>-0.091375</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Shadwell</string>
			<key>loc</key>
			<dict>
				<key>lat</key>
				<string>51.507674</string>
				<key>lon</key>
				<string>-0.060476</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Kings Cross</string>
			<key>loc</key>
			<dict>
				<key>lat</key>
				<string>51.542705</string>
				<key>lon</key>
				<string>-0.118498</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Regent&apos;s Park</string>
			<key>loc</key>
			<dict>
				<key>lat</key>
				<string>51.529892</string>
				<key>lon</key>
				<string>-0.151114</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>West Kensington</string>
			<key>loc</key>
			<dict>
				<key>lat</key>
				<string>51.4863</string>
				<key>lon</key>
				<string>-0.201239</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Paddington</string>
			<key>loc</key>
			<dict>
				<key>lat</key>
				<string>51.516007</string>
				<key>lon</key>
				<string>-0.179266</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Camberwell</string>
			<key>loc</key>
			<dict>
				<key>lat</key>
				<string>51.474754</string>
				<key>lon</key>
				<string>-0.092749</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Bethnal Green</string>
			<key>loc</key>
			<dict>
				<key>lat</key>
				<string>51.526261</string>
				<key>lon</key>
				<string>-0.063566</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
